.filters {
  display: flex;
}

.filter {
  box-sizing: border-box;
  border: 1px solid #000000;
  margin: 20px 3px;
  padding: 5px 15px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  max-height: 1340px;
  gap: 10px;
}

.container {
  margin: auto;
  width: 710px;
}

img {
  width: 33%;
}