.filters {
  display: flex;
  justify-content: center;
}

.filter {
  box-sizing: border-box;
  border: 1px solid #000000;
  margin: 20px 3px;
  padding: 5px 15px;
}

/* .projects {
  margin: 0;
  padding: 0;
} */
