#root {
  display: flex;
}

.filters {
  display: flex;
}

.filter {
  box-sizing: border-box;
  border: 1px solid #000000;
  margin: 20px 3px;
  padding: 5px 15px;
}

.container {
  width: 940px;
}

.projects {
  display: flex;
  gap: 20px;
}

.cardImg {
  padding: 0 0 20px;
  width: 300px;
}




